.BackGround {
    background-color: rgb(189, 226, 114);
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
}

.SearchOption
{
    width: 90%;
    height: 60px;
    margin: 5% 5%;
    display: flex;
    grid-template-columns: auto auto;
}

/* .SearchOptionButton
{
    position: relative;
    top: 5%;
    left: 2%;
    height: 90%;
    width: 54px;
    border-radius: 15px 0px 0px 15px;
    background-color: rgb(189, 226, 114);;
    border: none;
    transition: all .1s ease-in;
    font-weight: 500;
    font-size: large;
}

.SearchOptionButton:hover
{
    background-color: lightgrey;
}

.SearchOptionButton:focus {     
    background-color:rgb(196, 196, 196);
} */

.SearchOptionTxt {
    position: relative;
    top: 5%;
    left: 2%;
    height: 86.5%;
    width: 90%;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(146, 146, 146);
    border: black;
    transition: all .1s ease-in;
    font-weight: 500;
    font-size: large;
}

.SearchOptionTxt:hover
{
    background-color: rgb(196, 196, 196);
}

.SearchOptionTxt:focus {     
    background-color:rgb(236, 236, 236);
}

/* .SearchOptionButton:focus + .SearchOptionTxt {     
    display: block;
    background-color: aquamarine;
} */

