.BackGround {
    background-color: lightgrey;
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 25%;
    display: flex;
}

.List1Container {
    width: 25%;
    height: 95%;
}

.List1Item {
    background-color: rgb(255, 179, 93);
    width: 90%;
    height: 50px;
    margin: 6% 6%;
    border-radius: 15px 15px 15px 15px;
    border: black;
    transition: all .1s ease-in;
}

.List1Item:hover
{
    background-color: rgb(255, 206, 151);
}

.List1Item:focus {     
    background-color:rgb(180, 255, 220);
}

.ItemText
{
    text-align: center;
    font-weight: 500;
    font-size: large;
    position: relative;
    bottom: 5%;
    pointer-events: none;
}

.List2Container {
    width: 25%;
    height: 95%;
}